html, body {
    height: 100%;
}
html {
	scroll-behavior: smooth;
  }
  body {
	line-height: 1;
	margin: 0 auto;
}
nav,
footer,
header,
section {
  display: block;
}
/* обнуление */
*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
a {
	text-decoration: none;
}
ul,
ol,
li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

:root {
	--color-light-xl: #FFFFFF;
	--color-light-l: #F6F6F6;
	--color-light-s:#FAFAFA;
	--color-dark-s:#CDCDCD;
	--color-dark-m:#B2B2B2;
	--color-dark-l:#545454;
	--color-dark-xl:#4C4C4C;
	--color-dark-2xl:#444444;
	--color-dark-3xl:#292929;
	--color-primary:#F1CDB3;
	--color-primary-light:#FDDCC4;
	--dark-bg: url("../../assets/dark-bg-texture.png"),
    radial-gradient(110.67% 538.64% at 5.73% 50%, #513d2f 0%, #1a1a1c 100%),
    #211f20;
}
/* Arial */
@font-face {
	font-family: 'Arial';
	font-style: regular;
	font-weight: 400;
	src: url('/shelter/assets/fonts/arialmt.ttf') format('ttf')	
}
/* Arial Italic */
@font-face {
	font-family: 'Arial';
	font-style: italic;
	font-weight: 400;
	src: url('/shelter/assets/fonts/arial-italic.ttf') format('ttf')	
}
/*Georgia */
@font-face {
	font-family: 'Georgia';
	font-style: regular;
	font-weight: 400;
	src: url('/shelter/assets/fonts/georgia.ttf') format('ttf');	
}
/*Georgia bold*/
@font-face {
	font-family: 'Georgia';
	font-style: regular;
	font-weight: 700;
	src: url('/shelter/assets/fonts/georgia-bold.ttf') format('ttf');	
}
body {
	font-size: 15px;
	color: var(--color-dark-3xl);
	background-color: var(--color-light-xl);
	font-weight: 400;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 160%;
	height: 100vh;
	width: 100%;
} 
.container {
	width: 1200px;
	margin: 0 auto;
}

/*----------------------HEADER-----------------------------*/
.header {	
	position: fixed;
	background-color:var(--color-light-xl);
	min-width: 100%;

	padding: 30px 0px;
}
.header-container{
	display: flex;
	justify-content: space-between;
}
.header__logo {
	display: flex;
	flex-direction: column;
}
.logo__title {
	color:var(--color-dark-l);
	font-family:'Georgia';
	font-weight: 400;
	font-size: 32px;
	letter-spacing:  0.06em;
	line-height: 110%;
	padding-bottom: 11px;

}
.logo__subtitle {
	color: var(--color-dark-3xl);
	font-family:'Arial';
	font-weight: 400;
	font-size: 13px;
	letter-spacing: 0.1em;
	text-align: center;
	line-height: normal;
}
.header__nav {
	padding: 16px 0px;
	width: 443px;
}
.header-burger{
	display: none;
	background: none;
	border: none;
	flex-direction: column;
	 justify-content: center;
	 align-items: center;
	 cursor: pointer;
	 user-select: none;
	z-index: 5;
	gap:9px;

}
.line {
	display: block;
	width: 30px;
	height: 2px;
	background-color: var(--color-dark-3xl);
	z-index: 15;
	transition: all 0.3s ease-in-out;
  }
.hamburger.open .line1 {
	transform: rotate(-45deg) translate(-4px, 10px);
  }
.hamburger.open .line2 {
	opacity: 0;
  }
.hamburger.open .line3 {
	transform: rotate(45deg) translate(-6px, -10px);
  }
.header__list {
	display: flex;
	gap: 35px;
	
}
.header__item {
	position: relative;
	transition: 0.3s;
	cursor: pointer;
}

.header__link {
	color: var(--color-dark-l);
	font-family: 'Arial';
	font-size: 15px;
	line-height: 160%;
	letter-spacing: 0px; 
	transition: 0.3s;
}
.header__link-active{
	border-bottom: solid var(--color-primary);
	padding-bottom: 5px;
	color: var(--color-dark-l);
	font-family: 'Arial';
	font-size: 15px;
	line-height: 160%;
	letter-spacing: 0px; 
	transition: 0.3s;
}
.header__link:hover{
	transition: background .4s ease-in-out;
	color:var(--color-dark-3xl);
}
.header__link:after {
	position: absolute;
	content: '';
	left: 50%;
	height: 3px;
    background: var(--color-primary);
    width: 0;
    bottom: 0;  
}
.header__link:active:after {
	width: 100%;
	height: 3px;
	left: 0;
	transition: all 0.5s linear;
}	

/*----------------------MAIN-----------------------------*/

.our-friends {
	background-color:var(--color-light-l);
	padding-top: 200px;
	padding-bottom: 100px;
}
.our-friends__content {
	display: flex;
	flex-direction: column;
	row-gap: 60px;
	align-items:center;
}
.our-friends__content-title{
	color:var(--color-dark-l);
	font-family: 'Georgia';
	font-size: 35px;
	line-height: 130%;
	letter-spacing: 0.06em;
	width: 34%;
	text-align:center;
}

.content-slider__cards{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	gap: 30px 40px;
	justify-content: center;
}
.content-slider__card {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items:center;
	background-color: var(--color-light-s);
	height: 435px;
	cursor: pointer;
	border-radius: 9px;
	transition: 0.8s;
}

.content-slider__card:hover > .card__button {
	background-color:var(--color-primary-light);
	border-color:var(--color-primary-light);
}

.content-slider__card:hover{
	background-color:var(--color-light-xl);
	box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}

.card-title {
	color:var(--color-dark-l);
	font-family: 'Georgia';
	font-size: 20px;
	line-height: auto;
	letter-spacing: 0.06em;
}
.card__button {
	font-family:'Georgia';
	font-size: 17px;
	letter-spacing: 0.06em;
	line-height: 130%;
	color: var(--color-dark-3xl);
	background-color:transparent;
	border-radius: 100px;
	border: 2px solid var(--color-primary);
	width: calc(187/270 * 100%);
	height: 52px;
	cursor: pointer;
	margin-bottom: 30px;
	transition: 0.8s;
}
.content-slider__pagination{
	display: flex;
	gap: 20px;
}
.button-arrow {
	color: var(--color-dark-3xl);
	font-family: 'Georgia';
	font-size: 20px;
	line-height: 115%;
	letter-spacing: 0.06em;
	background-color:transparent;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 100px;
	border: 2px solid var(--color-primary);
	width: 52px;
	height: 52px;
	cursor: pointer;
	transition: 0.8s;
}
.num {
	background-color:var(--color-primary);
	border: none;
}
.num-active{
	background-color:var(--color-primary);
	border: none;
}
.button-arrow .back {
	color: var(--color-dark-s);
	border-color: var(--color-dark-s);
}
.disabled{
	color: var(--color-dark-s);
	border-color: var(--color-dark-s);

}

.button-arrow:hover{
	background-color:var(--color-primary-light);
	border-color:var(--color-primary-light);
}
.disabled:hover {
	background-color:transparent;
	cursor: auto;
	border: 2px solid var(--color-dark-s);
}
/*----------------------FOOTER-----------------------------*/

.footer {
	background: var(--dark-bg);
	padding-top: 40px;
}
.footer-content {
	display: flex;
	gap: 160px;
	align-items:center;
}
.footer-content__content{
	display: flex;
		gap:160px;
		margin-left: 0px;
}
.footer-content__contact {
	display: flex;
	flex-direction: column;
	gap: 40px;
	width: 279px;
	padding-top: 14px;
}
.footer__title {
	color:var(--color-light-xl);
	font-family: 'Georgia';
	font-size: 35px;
	line-height: 130%;
	letter-spacing: 0.06em;
}
.contact-mail {
	display: flex;
	gap: 20px;
	align-items: center;
}
.contact-mail__icon {
	
}
.footer-information {
	color:var(--color-primary);
	font-family: 'Georgia';
	font-size: 20px;
	line-height: 115%;
	letter-spacing: 0.06em;
}
.footer-content__location {
	display: flex;
	flex-direction: column;
	width: 302px;
	gap: 33px;
	padding-top: 16px;
	padding-bottom: 60px;
}
.location-1 {
	padding-top: 2px;
	display: flex;
	gap: 20px;
}
.location-1__icon {
}
.location-2 {
	display: flex;
	gap: 20px;
}
.location-2__icon {
}

@media screen and (min-width:1160px) and (max-width: 1279px){
	.container{
		width: 100vw;
		padding: 0px 40px;
		margin: 0px;
	}
	.our-friends__content-slider{
		width: 100%;
		justify-content: space-between;
		gap: 0px;
	}
	.content-slider__cards{
		gap:12%;
		justify-content: center;
	}
	.footer-content{
		gap:10%;
	}
	.footer-content__content{
		gap: 100px;
	}
}
@media screen and (min-width: 960px) and (max-width:1160px) {

	.container{
		width: 100vw;
		padding: 0 30px;
	}
	
	/* ----OUR FRIENDS------------------------------ */	
	.our-friends {
		padding-top: 200px;
	}
	.our-friends__content {
		flex-direction: column;
		margin: 0;
	}
	.our-friends__content-title {
		width: 100%;
	}
	.our-friends__content-slider {
		gap: 12px;
		float: left;
	}
	.content-slider__cards {
		gap: 40px;
	}
	
	/* #card-3{
		display: none;
	} */
	/* ----FOOTER------------------------------ */
	.footer{
		padding-top: 30px;
	}
	.footer-content__content{
		display: flex;
		gap:60px;
		justify-content: space-between;
	}
	.footer-content {
		flex-direction: column;
		gap:90px;
	}
	.footer-content__contact {
		width: 38%;
		padding-top: 0px;
	}
	.footer-content__location {
		padding-top: 0px;
		padding-bottom: 0px;
	}
	.footer-content-image {
		margin-right: 60px;
	}

}
/*--------------ADAPTIVE----------------*/
@media screen and (min-width: 733px) and (max-width:960px) {

/* ----HEADER------------------------------ */

	.header {
		padding: 30px 0px;
	}
	.header-container{
		display: flex;
		justify-content: space-between;
		/* gap: 230px */
	}
	
	.header__list{
		gap: 35px;
	}
	.header__nav{
		width: 442px;
	}
	.container{
		width: 100vw;
		padding: 0 30px;
	}
	.content-slider__cards{
		justify-content: center;
		column-gap: 40px;
	}
	/* ----OUR FRIENDS------------------------------ */	
	.our-friends {
		padding-top: 180px;
	padding-bottom: 70px;
	}
	.our-friends__content {
		flex-direction: column;
		margin: 0;
		gap: 0;
		
	}
	.our-friends__content-title {
		width: 100%;
		margin-top: 20px;
	}
	.our-friends__content-slider {
		gap: 12px;
		float: left;
	}
	.content-slider__cards {
		gap: 30px;
		margin-top: 30px;
		margin-bottom: 40px;
	}
	
	#card-7, #card-8 {
		display: none;
	}
	/* ----FOOTER------------------------------ */
	.footer{
		padding-top: 30px;
	}
	.footer-content__content{
		display: flex;
		gap:60px;
		justify-content: space-between;
	}
	.footer-content {
		flex-direction: column;
		gap:65px;
	}
	.footer-content__contact {

		padding-top: 0px;
	}
	.footer-content__location {
		padding-top: 0px;
		padding-bottom: 0px;
	}
}

@media screen and (min-width: 200px) and (max-width:733px) {
/* ----HEADER------------------------------ */
.container{
	width: 100vw;
	padding: 0 10px;
}
.header {
	padding: 30px 0px;
}
.logo__title{
	padding-bottom: 10px;
}
.header-container{
	display: flex;
	align-items:center;
	justify-content: space-between;
}
.header-burger{
	display: flex;
	padding-right: 43px;
}
.header__link-active{
	display: none;
}
.header__list{
	gap: 0;
}
.header__nav{
	display: none;
}
.header__title{
	padding-bottom: 9px;
}


/* ----OUR FRIENDS------------------------------ */	
.our-friends {
	padding-top: 162px;
    padding-bottom: 42px;
}
.our-friends__content {
	flex-direction: column;
	margin: 0;
	row-gap: 42px;
	flex-wrap: wrap;
}
.our-friends__content-title {
	order: 1;
	font-size: 25px;
	width: 280px;
	text-align: center;
    letter-spacing: 0.06em;
	padding-top: 0px;
	width: 100%;
}
.our-friends__content-slider {
	
	flex-wrap: wrap;
	float: left;
	justify-content: center;
	row-gap: 20px;
	column-gap: 80px;
}
.content-slider__cards {
	order: 2;
	order: 1;
	gap: 30px;
}

.content-slider__pagination{
	order:3;
	gap: 10px;
}

#card-4, #card-5, #card-6, #card-7, #card-8 {
	display: none;
}
/* ----FOOTER------------------------------ */
.footer{
	padding-top: 30px;
}
.footer-content__content{
	display: flex;
	flex-direction: column;
	gap:39px;
	justify-content: left;
	align-items:center;
}
.footer-content {
	flex-direction: column;
	gap:40px;
}
.footer-content__contact {
	padding-top: 0px;
	width: 278px;
	align-items: center;
}
.footer-content__location {
	padding-top: 0px;
	padding-bottom: 0px;
	align-items: center;
	gap: 40px;
	
}
.footer__title{
	font-size: 25px;
	text-align: center;
	width: 278px;
}
.location-1{
	padding-top: 0px;
}
.location-2{
	align-self:baseline;
}
.footer-content-image{
	width: 87%;
}
.footer-img{
	width: 100%;
}

}

