@import url(./form.css);

body {
    color: #fff;
    background: #17181c;
    font-family: sans-serif;
}

header {
    padding: 10px 30px;
}

header h1 {
    font-size: 40px;
    font-weight: 800;
}

footer {
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
footer .copyright {
    font-size: 14px;
    color: #333;
    text-align: center;
}
footer .copyright a {
    color: #444;
}
footer .copyright a:hover {
    color: #555;
}
footer .copyright:before {
    content: '©';
}
.about-rss {
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 14px;
    color: #333;
    text-align: center;
}

.about-rss p {
    font-size: 14px;
    color: #333;
    text-align: center;
}

.rss {
	width: 112px;
	height: 45px;
    background-image: url("./components/assets/rs_school_js.svg");   
	background-size: contain;
	background-repeat: no-repeat;
  }

  .nav-link {
	position: relative;
	padding: 0 24px; 
	text-decoration: none; 
	font-size: 20px; 
	font-size: 14px;
    color: #333;
    text-align: center;
  }
