@import "./styles/nullstyle.scss";
@import "./styles/filter.scss";

$bodyColor: white;
$linkColor: rgb(248, 248, 248);
$color_text: black;

//------SCROLLBAR-----------------------
$scrollbarBg:  rgba(255, 255, 255, 0.8);
$scrollbarThumb: rgb(221, 221, 221);
$scrollbarWidth: 12px;
$scrollbarBorder: 3px solid $scrollbarBg;
$scrollbarBorderRadius: calc($scrollbarWidth / 2);

body {
  &::-webkit-scrollbar{
    width: $scrollbarWidth;
  }
  &::-webkit-scrollbar-track {
    background: $scrollbarBg;
    border-radius: $scrollbarBorderRadius;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $scrollbarThumb;
    border-radius: $scrollbarBorderRadius;
    border: $scrollbarBorder;
  }
}
//------SCROLLBAR-----------------------


body {
  background-color: $bodyColor;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  height: 100%;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 auto;
}
  
header{
  background-color:$bodyColor;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  .nav-link{
    cursor: pointer;
    position: relative;
    line-height: 60px;
    &:after {
      display: block;
      position: absolute;
      left: 0; 
      width: 0;
      bottom: 0;
      height: 2px; 
      background-color: rgb(192, 192, 192); 
      content: "";
      transition: width 0.3s ease-out; 
    }
    &:hover:after,
    &:focus:after {
	    width: 100%; 
    }
  }
}

.header__logo {
  margin-left: 100px;
  width: 50px;
}
.header__buttons{
  margin-right: 100px;
  img{
    width: 32px;
  }
}

.search {
  &:after{
    content:""; clear:both; display:table
  }
  form {
    position: relative;
    width: auto;
    float: right;
    margin-right: 30px;
  }
  input {
    width: 250px;
    height: 36px;
    padding-left: 45px;
    padding-right: 10px;
    border-radius: 42px;
    outline: none;
    position: relative;  
    background-color: $linkColor; 
    font-size: 16px;
  }
  button {
    width: 42px;
    height: 42px;
    border: none;
    position: absolute;
    top: -2px;
    left: 0;
    background-color: inherit;
    img{
      object-fit: cover;
      width: 50%;
      height: 50%;
      opacity: 0.5;
    }
  }
}

main{
  justify-content: center;
  align-items: center;
  height: auto;
  .label{
    height: 100px;
    background-color: $linkColor; 
    h1{
      font-size: 24px;
      margin-left: 100px;
      line-height: 100px;
     }
  }
}
.catalog{
  display: flex;
  height: auto;
  padding: 40px;
  padding-left: 8px;
  font-size: $fontSizeFilter;
}
.hiden{
  display: none;
}
.noresult{
  text-align: center;
  font-size: 36px;
  margin: 50px 0px;
}

.sorting{
  font-size: 16px;
  display: flex;
  justify-content: flex-end;
  width: auto;
  gap:20px;
  line-height: 28px;
  img{
    width: 24px;
  }
  button{
    background-color: transparent;
    justify-content: center;
    display: flex;
    align-items: center;
    gap:10px;
  }
  span{
    text-align: center;
  }
}

  
 





















.about-rss {
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 14px;
    color: #333;
    text-align: center;
    p {
      font-size: 14px;
      color: #333;
      text-align: center;
  }
}
.rss {
	width: 112px;
	height: 45px;
  background-image: url("./assets/rs_school_js.svg");   
	background-size: contain;
	background-repeat: no-repeat;
  }
.nav-link {
	position: relative;
	padding: 0 24px; 
	text-decoration: none; 
	font-size: 20px; 
	font-size: 14px;
  color: #333;
  text-align: center;
}