$grayColor: rgb(175, 175, 175);

.products{
  display: flex;
  padding-left: 40px;
  flex-wrap: wrap;
  gap: 34px;
  margin: 16px 0px;
}
.shoes-card{
  margin-bottom: 30px;
  position: relative;
  height: 560px;
  cursor: pointer;
  img{
    width: 320px;
  }
  &:hover{
    box-shadow: -5px 13px 26px -15px rgba(112, 112, 112, 0.38);
  }
}
.shoes-card__name{
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  margin-top: 14px;
  padding-left: 14px;
  color: black;
}
.shoes-card__price{
  font-size: 18px;
  margin-top: 18px;
  font-weight: 500;
  color: black;
} 
.shoes-card-info{
  display: flex;
  flex-direction: column;
  color:$grayColor;
  padding: 14px;
  gap: 8px;
}
.shoes-card__appearence{
  display: flex;
  justify-content: space-between;
}
.shoes-card__colors{
  padding-right: 9px;
}
.shoes-card__basket{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.basket__stock{
  font-size: 16px;
  color: black;
}
.basket__stock-button{
  width: 140px;
  height: 40px;
  border: 1px solid $grayColor;
  border-radius: 20px;
  background-color: transparent;
  font-size: 16px;
  font-weight: 500;
  &:hover{
    box-shadow: -5px -5px 5px -5px rgba(34, 60, 80, 0.6) inset;
  }
}
.shoes-out-of-stock{
  color: $grayColor;
}
.added{
  background-color: black;
  color: white;
}