@import "./checkbox.scss";
@import "./card.scss";
@import "./slider.scss";
@import "./colorfilter.scss";

$fontSizeFilter: 16px;
$filterLine: 1px solid rgb(187, 187, 187);

@mixin filterLine($color, $padding) {
  border-bottom:$color;
  padding-bottom: $padding;
 }

 
  $scrollbarBg:  rgba(255, 255, 255, 0.8);
  $scrollbarThumb: rgb(221, 221, 221);
  $scrollbarWidth: 12px;
  $scrollbarBorder: 3px solid $scrollbarBg;
  $scrollbarBorderRadius: calc($scrollbarWidth / 2);
.filter::-webkit-scrollbar {
  width: $scrollbarWidth;
}
.filter::-webkit-scrollbar-track {
  background: $scrollbarBg;
  border-radius: $scrollbarBorderRadius;
}
.filter::-webkit-scrollbar-thumb {
  background-color: $scrollbarThumb;
  border-radius: $scrollbarBorderRadius;
  border: $scrollbarBorder;
}

.filter{
  overflow-y: scroll;
  display: flex;
  min-width: 300px;
  max-width: 300px;
  flex-direction: column;
  margin: 0px 20px 24px 20px;
  height: 100vh;
  background-color: rgb(254, 254, 254);
  h3{
    font-size: 22px;
    padding: 24px 0px;
  }
}

.price{
  @include filterLine ($filterLine, 24px);
}

.checkbox{
  display: flex;
  flex-direction: column;
  @include filterLine ($filterLine, 24px);
}

.color{
  @include filterLine ($filterLine, 24px);
}

.size{
  height: auto;
  display: flex;
  flex-direction: column;
  @include filterLine ($filterLine, 24px);
}
.sizes{
  text-align: center;
  gap: 14px;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  button {
    border: $filterLine;
    width:54px;
    position: relative;
    margin: auto;
    padding: 8px 10px;
    border-radius: 5px;
    text-align: center;
    background-color: white;
    .active{
      background-color: #dfe7fd;
      color: white;
    }
  } 
}

.checkbox-size{
  display: none;
}
label input[type="checkbox"]:checked + .checkbox-size__text {
  background: #000000;
  color: white;
  
}
.checkbox-size__text{
  padding: 4px 22px;
  vertical-align: -6.5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  outline: none;
  border-radius: 4px;
  border: 1px solid rgb(177, 177, 177);
  transition: 0.2s;
  position: relative;
  &:hover{
    border: 2px solid $colorBlue;
  }
}



.brand{
  #brands{
    width: 180px;
    border: $filterLine;
    border-radius: 5px;
    padding: 5px;
    font-size: $fontSizeFilter;
  }
  @include filterLine ($filterLine, 24px);
}

.material__radio-buttons{
    display: flex;
    gap:16px;
    flex-direction: column;
    p{
      input{
        margin-right:14px;
      }
    }
}

.clear-button{
  background-color: #3264fe;
  width:180px;
  position: relative;
  margin: auto;
  margin-top: 24px;
  padding: 5px 0;
  border-radius: 5px;
  text-align: center;
  font-size: 20px;
  color: white;
}
