@import "./checkbox.scss";
@import "../components/view/slider/slider.scss";
@import "./filterColor.scss";
@import "./scrollbar.scss";

@mixin filterLine($color, $padding) {
  border-bottom:$color;
  padding-bottom: $padding;
 }
.filter{
  overflow-y: scroll;
  display: flex;
  min-width: 300px;
  max-width: 300px;
  flex-direction: column;
  margin: 0px 20px 24px 20px;
  height: 100vh;
  h3{
    font-size: 22px;
    padding: 24px 0px;
  }
}
.category{
  @include filterLine ($filterLine, 24px);
}
.price{
  @include filterLine ($filterLine, 24px);
}
.checkbox{
  display: flex;
  flex-direction: column;
}
.color{
  @include filterLine ($filterLine, 24px);
}
.size{
  height: auto;
  display: flex;
  flex-direction: column;
  @include filterLine ($filterLine, 24px);
}
.sizes{
  text-align: center;
  gap: 14px;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  button {
    border: $filterLine;
    width:54px;
    position: relative;
    margin: auto;
    padding: 8px 10px;
    border-radius: 5px;
    text-align: center;
    background-color: $mainWhiteColor;
    .active{
      background-color: $mainWhiteColor;
      color: $mainWhiteColor;
    }
  } 
}
.checkbox-size{
  display: none;
}
label input[type="checkbox"]:checked + .checkbox-size__text {
  background: $mainBlackColor;
  color: $mainWhiteColor;
}
.checkbox-size__text{
  padding: 4px 22px;
  vertical-align: -6.5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  outline: none;
  border-radius: 4px;
  border: 1px solid $checkboxBorder;
  transition: 0.2s;
  position: relative;
  &:hover{
    border: 2px solid $colorBlue;
  }
}
.brand{
  #brands{
    width: 180px;
    border: $filterLine;
    border-radius: 5px;
    padding: 5px;
    font-size: $fontSizeFilter;
  }
  @include filterLine ($filterLine, 24px);
}
.material__radio-buttons{
    display: flex;
    gap:16px;
    flex-direction: column;
    p{
      input{
        margin-right:14px;
      }
    }
}
.clear-button{
  background-color: $colorBlue;
  width:180px;
  position: relative;
  margin: auto;
  margin-top: 24px;
  padding: 5px 0;
  border-radius: 5px;
  text-align: center;
  font-size: 20px;
  color: $mainWhiteColor;
}
