$grayColor: rgb(175, 175, 175);
$grayColorLight:rgb(245, 245, 245);
$textColorActive: black;
$textColorHiden: rgb(175, 175, 175);
$mainBlackColor: black;
$mainWhiteColor: rgb(255, 255, 255);
$colorBlue: #3264fe;
$checkboxBorder:#b3d7ff;
$fontSizeFilter: 16px;
$filterLine: 1px solid $grayColor;